html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  min-height: 100svh;
  width: 100dvw;
  max-width: 100dvw;
  overflow: hidden;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-shadow: none;
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
}

.blur {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

.lazy:not([src]) {
  visibility: hidden;
}

.navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.navbar div {
  width: 8%;
  z-index: 2;
}

.navbar div img {
  width: 100%;
}

.footer-logo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-logo div {
  width: 18%;
}

.footer-logo div:nth-child(2) img {
  width: 50%;
}

.footer-logo div img {
  width: 90%;
}

.footer-logo img {
  width: 100%;
}

#captureAgain img {
  width: 50%;
}

.overlay {
  position: fixed;
  width: 110%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}

.overlay .loader-gif {
  margin-bottom: 1rem;
}

.overlay .loader-gif img {
  width: 100%;
}

.overlay p {
  margin-bottom: 1rem;
}

#loading-text {
  font-size: 1.6rem;
  font-weight: 700;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
  margin-bottom: 1.5rem;
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #ffffff 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #ffffff 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

.screen-pc {
  margin: 0;
  padding: 0;
  display: none;
  width: 100dvw;
  height: 100dvh;
  background-image: url("../img/ScreenBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.screen-pc footer {
  width: 90%;
  max-width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-pc .qr-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  z-index: 5;
}

.screen-pc .qr-wrapper div {
  width: 100%;
}

.screen-pc .qr-wrapper div img {
  width: 100%;
}

.screen-pc .footer .logo-left {
  width: 10%;
}

.screen-pc .footer .logo-left img {
  width: 100%;
}

.screen-pc .footer .logo-right {
  width: 10%;
  margin-right: 3em;
}

.screen-pc .footer .logo-right img {
  width: 100%;
}

.screen-pc .qr-content {
  width: 25%;
  position: absolute;
  top: 45%;
  transform: translate(0%, -50%);
  right: 8%;
}

.screen-pc .qr-content img {
  width: 100%;
}

.screen-pc .mirinda-can {
  width: 25%;
  position: absolute;
  bottom: -3%;
  right: 8%;
}

.screen-pc .mirinda-can img {
  width: 100%;
}

.screen-pc .superman-screen {
  width: 50%;
  position: absolute;
  bottom: -45%;
  left: -5%;
}

.screen-pc .superman-screen img {
  width: 100%;
}

.checkbox-wrapper-10 {
  width: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .75rem;
  margin-top: -1rem;
}

.checkbox-wrapper-10 span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  margin-top: 0.75em;
  margin-left: 1rem;
  color: white;
  font-weight: 700;
}

.checkbox-wrapper-10 .tgl {
  display: none;
}
.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  height: 1.2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.8rem;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: rgb(0, 138, 69);
  color: #ffffff;
  border: #ffffff 5px solid;
  font-size: 0.6em;
  font-weight: 700;
  transform: rotateY(-180deg);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  background: white;
  color: #08a400;
  border: #0ae318 5px solid;
  content: attr(data-tg-off);
  font-size: 0.6rem;
  font-weight: 700;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #007e4e;
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}

#ruleBtn {
  color: #07a0ff;
  text-decoration: underline;
}

.rule-overlay {
  position: fixed;
  width: 110%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}

.overlay-banner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 12;
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay-banner .banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
  width: 375px;
  height: 595px;
  margin-bottom: 6rem;
}

.overlay-banner .banner-container div img {
  width: 100%;
}

.overlay-banner .banner-container .banner-item:nth-child(1) {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.overlay-banner .banner-container .banner-item:nth-child(2) {
  width: 10%;
  position: absolute;
  top: 6%;
  right: 3%;
}

.overlay-banner .banner-container .banner-item:nth-child(3) {
  width: 80%;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overlay-banner .banner-container .banner-item:nth-child(3) button {
  width: 45%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9;
}

.overlay-banner .banner-container .banner-item:nth-child(3) button img {
  width: 100%;
}

#preview {
  max-width: 100%;
  max-height: 400px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.modal-content {
  max-width: 80%;
  max-height: 80dvh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fb6f01;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
}
#cropped-result {
  margin-top: 20px;
  max-width: 300px;
}

.close-btn {
  font-size: 1.25rem;
  color: white;
  background-color: #ff2f2f;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: 700;
}

#cropBtn {
  font-size: 1.25rem;
  letter-spacing: .05em;
  color: white;
  background-color: #00ba46;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.cropper-container {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.cropper-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* hoặc contain tùy bạn */
}
